* {
    font-family: 'Baloo Da', cursive;;
}

.mat-toolbar.mat-primary.header{
    background: hsl(136, 53%, 43%);
    color: #fff;
    text-align: center;
    display: block;
    padding: 10px;
    font-size: 40px; 
}

mat-sidenav{
    background-color: hsl(136, 53%, 43%);    
}
.menu-name{
    color: #fff;
    background: hsl(136, 53%, 43%);
    font-size: 25px; 
    
    display: block;
    margin-top: 20px;
    margin-left: 20px;

}
.mat-nav-list{
    margin-top: 20px;
}

.mat-list-item{
    font-size: 20px;
    color: #ea4335;
    font-weight: bolder;
       

}
.mat-drawer-container{background-color: transparent}




